<!DOCTYPE html>
<html ng-app="talkdownify" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Talkdownify | Talk down to your audience!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <style>
            html {
                position: relative;
                min-height: 100%;
            }
            body {
                /* footer height + 60px padding */
                margin-bottom: 120px;
            }
            .footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 60px;
                background-color: #f5f5f5;
            }
            .container .text-muted {
                margin: 20px 0;
            }
            .left-indent {
                margin-left: 30px;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
        <script src="angular/talkdownifyController.js"></script>
        <script src="angular/talkdownifyService.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Talkdownify</h1>
                <h2><small>Helping you sound more condescending</small></h2>
            </div>
        </div>
        <div class="container">
            <h2>Try it</h2>
            <hr>
            <div class="row" ng-controller="TalkdownifyController as talkdownify">
                <div class="col-md-6 form-group">
                    <form ng-submit="talkdownify.talkdownify()">
                        <div class="form-group">
                            <label class="control-label">Text to be talkdown-ified</label>
                            <textarea rows="10" ng-model="talkdownify.text" class="form-control" placeholder="Text goes here"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Words to include in talkdown-ified result</label>
                            <div class="left-indent">
                                <ul class="list-unstyled">
                                    <li ng-repeat="keyword in talkdownify.keywords">
                                        <input type="checkbox" ng-model="keyword.checked">
                                        <span>{{keyword.word}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <input class="form-control" type="text" ng-model="talkdownify.keywordText" size="30"
                                           placeholder="add word here">
                                </div>
                                <div class="col-md-2">
                                    <input ng-click="talkdownify.addKeyword()" class="btn btn-default btn-block" value="add">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Talkdownify!</button>
                    </form>
                </div>
                <div class="col-md-6 form-group">
                    <form>
                        <div class="form-group">
                            <label>Talkdown-ified result</label>
                            <textarea rows="10" ng-model="talkdownify.talkdownifiedText" class="form-control"
                                      placeholder="Talkdown-ified result here"></textarea>
                        </div>
                    </form>
                </div>
            </div>
            <h2>Talking down to your readers has never been easier</h2>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Before talkdownify <small>From <a href="https://simple.wikipedia.org/wiki/Drosophila">this</a> simple wikipedia article</small></h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                There are many species in this genus.
                                Some do prefer places where there is rotting fruit.
                                The adults may feed on nectar, and may lay their eggs on or near decaying fruit.
                                The details differ greatly from species to species.
                                The largest number of species is in the Hawaiian Islands.
                                Some fruit flies can get drunk if they have a gene called "Happy Hour".
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">After talkdownify</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                Obviously, there are many species in this genus. Clearly, some do prefer places where there is rotting fruit.
                                Obviously, the adults may feed on nectar, and may lay their eggs on or near decaying fruit.
                                The details differ greatly from species to species. Of course, the largest number of species is in the Hawaiian Islands.
                                Of course, some fruit flies can get drunk if they have a gene called "Happy Hour".
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>About</h2>
                    <hr>
                    <p>
                        I created this sarcastic tool after reading math and computer science texts that talk down
                        to their readers by preceding their conclusions with words like "obviously" and "clearly". I'm not sure
                        why the authors of these texts feel the need to pepper their explanations with these words. It can be
                        frustrating to read an "obvious" result of a theorem or algorithm only to not understand why it's obvious.
                        Obviously, these authors think all their readers think exactly as they do!
                    </p>
                    <p>
                        Source can be found <a href="https://github.com/anglessteven/talkdownify">here.</a>
                    </p>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">
                    <a href="https://stevenangles.com">Steven Angles</a>
                </p>
            </div>
        </footer>
    </body>
</html>
