<!doctype html>
<html ng-app="talkdownify" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>Talkdownify | Talk down to your audience!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <style>
            body {
                padding-bottom: 70px;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="talkdownify.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Talkdownify</h1>
                <h2><small>Helping you sound more pretentious</small></h2>
            </div>
        </div>
        <div class="container">
            <h2>Talking down to your audience has never been easier</h2>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Before talkdownify</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">After talkdownify</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Try it</h2>
            <hr>
            <div class="row">
                <div class="col-md-6" ng-controller="TalkdownifyController as talkdownify">
                    <form>
                        <div class="form-group">
                            <label class="control-label">Text to be talkdown-ified</label>
                            <textarea class="form-control" placeholder="Text goes here"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Words to include in talkdown-ified result</label>
                            <ul class="list-unstyled">
                                <li ng-repeat="keyword in talkdownify.keywords">
                                    <input type="checkbox" ng-model="keyword.checked">
                                    <span>{{keyword.word}}</span>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-md-4">
                                    <input class="form-control" type="text" ng-model="talkdownify.keywordText" size="30"
                                           placeholder="add word here">
                                </div>
                                <div class="col-md-2">
                                    <input ng-click="talkdownify.addKeyword()" class="btn btn-default" type="submit" value="add">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Talkdownify!</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <label>Talkdown-ified result</label>
                            <textarea class="form-control" placeholder="Talkdown-ified result here"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <p class="text-muted">
                    Lorem ipsum blah blah blah
                </p>
            </div>
        </nav>
    </body>
</html>
